<figure>
  <img src="http://i.imgur.com/u3ttnE3.png"  />
</figure>

<section class="friend-details">
  <% if (listType === "pending") { %>
    <a href="<%= "#people/" + friend.escape('requester_id') %>"><%= friend.escape('fname') %> <%= friend.escape('lname') %></a>
  <% } else { %>
  <a href="<%= "#people/" + visitedUser.get_friend_id(friend.id) %>"><%= friend.escape('fname') %> <%= friend.escape('lname') %></a>
  <% } %>
  <small><%= friend.escape('location') %></small>
</section>

<% if (listType === "pending") { %>

<section class="friend-actions">
<form class="content-form group">
    <button class="submit" id="accept_friend_request"><i class="fa fa-check"></i></button>
    <button class="delete" id="reject_friend_request"><i class="fa fa-times"></i></button>
</form>
</section>

<% } %>
