<figure>
  <img src="<%= friend.escape('avatar_url') %>">
</figure>

<section class="friend-details">
  <a href="<%= "#people/" + friend.escape('friend_id') %>"><%= friend.escape('fname') %> <%= friend.escape('lname') %></a>
  <small><%= friend.escape('location') %></small>
</section>

<% if (listType === "pending") { %>
  <section class="friend-actions">
  <form class="content-form group">
      <button class="submit" id="accept_friend_request"><i class="fa fa-check"></i></button>
      <button class="delete" id="reject_friend_request"><i class="fa fa-times"></i></button>
  </form>
  </section>



<% } %>
