<figure>
  <img src="http://i.imgur.com/u3ttnE3.png"  />
</figure>

<section class="friend-details">
  <% if (listType === "pending") { %>
    <a href="<%= "#people/" + friend.escape('requester_id') %>"><%= friend.escape('fname') %> <%= friend.escape('lname') %></a>
  <% } else { %>
  <a href="<%= "#people/" + visitedUser.get_friend_id(friend.id) %>"><%= friend.escape('fname') %> <%= friend.escape('lname') %></a>
  <% } %>
  <small><%= friend.escape('location') %></small>
</section>

<% if (friend.get('pending_status') === "pending") { %>
<a href="#people/<%= friend.get('friend_details').id %>">
  <%= friend.get('friend_details').fname %> <%= friend.get('friend_details').lname %>
</a>
<form class="content-form group">
    <button class="submit" id="accept_friend_request">Accept friend</button>
    <button class="delete" id="reject_friend_request">Reject</button>
</form>


<% } %>
