<section class="dashboard-sidebar">
  <section class="dashboard-profile">
  <figure class="profile">
    <img src="">
    <h2> <%= user.escape('fname') %><%= user.escape('lname') %> </h2>
    <figcaption><%= user.escape('location') %></figcaption>
  </figure>
  <small><%= user.escape('hosting_status')%></small>
  </section>
</section>

<% trips.each(function(trip) { %>
  <h1> <%= trip.escape('location') %> </h1>
<% })%>
