<section class="search-results">
<h2><%= members.length %> Members matching</h2>

<ul class="search-results-list">
<% members.each(function(member) { %>
  <li>
    <article class="group">
      <img class="user-avatar" src="https://placeimg.com/100/100/people/grayscale">

      <section class="user-name-loc">
      <a href="#people/<%= member.id %>">
        <h3><%= member.escape('fname') %> <%= member.escape('lname') %><h3>
      </a>
      <small><%= member.escape('location') %> </small>
      </section>

      <section class="user-host-logged">
      <span><%= member.escape('hosting_status') %></span>
      <small>Last login</small>
      </section>
    </article>
  </li>
<% }) %>
</ul>
</section>
