

<a href="<%= "#requests/"+ request.id %>">
<% if (request.escape("requester_type") === "guest") { %>
	<% if (parseInt(request.escape('requester_id')) === SofaHopping.currentUser.id) { %>

<section class="group">
		<figure class="user-thumb">
		  <img src="<%= request.get("requestee_details").avatar_url %>">
		</figure>

		<section class="request-user-details">
			<h3>
				<strong><%= request.get("requestee_details").fname %> <%= request.get("requestee_details").lname %></strong>
				(<%= request.escape('location') %>)
			</h3>
			<small><strong>Dates: </strong><%= request.get("arrival_date") %> to <%= request.get("departure_date") %></small>
			<small class="timeago updatedat" title="<%= request.get("updated_at") %>"></small>

		</section>
</section>
	<% } else { %>
		<section class="group">
				<figure class="user-thumb">
			<img src="<%= request.get("requester_details").avatar_url %>">
		</figure>

		<section class="request-user-details">
			<h3>
				<strong><%= request.get("requester_details").fname %> <%= request.get("requester_details").lname %></strong>
			(<%= request.escape('location') %>)</h3>
			<small><strong>Dates: </strong><%= request.get("arrival_date") %> to <%= request.get("departure_date") %></small>
			<small class="timeago updatedat" title="<%= request.get("updated_at") %>"></small>
			</section>
	</section>

	<% } %>

<% } %>



</a>
<style>

</style>
