<% if (request.escape("requester_type") === "guest") { %>
	<% if (parseInt(request.escape('requester_id')) === SofaHopping.currentUser.id) { %>

		<section class="group">
			<figure class="user-thumb">
		  	<img src="<%= request.get("requestee_details").avatar_url %>">
			</figure>

			<section class="request-user-details">
				<h3>
					<strong><a href="<%= "#people/"+ request.get("requestee_details").id %>">
						<%= request.get("requestee_details").fname %> <%= request.get("requestee_details").lname %><br>
					</a></strong>
					<strong>From</strong>: <%= request.escape('location') %><br>
				</h3>
				<small><strong>Dates: </strong><%= request.get("arrival_date") %> to <%= request.get("departure_date") %></small>
				<strong>Status: </strong><%= request.escape('status') %><br>
				<strong>Travelers: </strong><%= request.escape('num_guests') %><br>
			</section>
	</section>

	<% if (request.escape("status") === "pending") { %>
		<form class="content-form">
		<button value="cancelled" class="cancel" id="cancel-request">Cancel Request</button>
	</form>
	<% } %>

	<section class="request-description">

	<ul class="requests-updates-list">
	<% if (request.escape("status") === "cancelled") { %>
		<li class="group">
		 <figure><img src="<%= request.get("requester_details").avatar_url %>"></figure>
			<p>
				<strong>You cancelled: </strong><%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
				<small class="timeago" title="<%= request.escape('updated_at') %>"></small>
			</p>
		</li>

	<% } else if (request.escape("status") === "rejected") { %>

			<li class="group">
				<figure><img src="<%= request.get("requestee_details").avatar_url %>"></figure>
				<p>
					<strong><%= request.get("requestee_details").fname %> rejected: </strong><%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
					<small class="timeago" title="<%= request.escape('updated_at') %>"></small>
				</p>
			</li>

	<% } else if (request.escape("status") === "accepted") { %>
		<li class="group">
			<figure><img src="<%= request.get("requestee_details").avatar_url %>"></figure>
			<p>
				<strong><%= request.get("requestee_details").fname %> accepted: </strong><%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
				<small class="timeago" title="<%= request.escape('updated_at') %>"></small>
			</p>
		</li>


	<% } %>



		<li class="group">
		<figure><img src="<%= request.get("requester_details").avatar_url %>"></figure>
		<p>
			<strong>You requested:</strong> <%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
			<%= request.escape("message") %>
			<small class="timeago" title="<%= request.escape('created_at') %>"></small>
		</p>
		</li>
	</ul>
	</section>

	<% } else { %>

		<section class="group">
			<figure class="user-thumb">
				<img src="<%= request.get("requester_details").avatar_url %>">
			</figure>

			<section class="request-user-details">
				<h3>
					<strong><a href="<%= "#people/" + request.get("requester_details").id %>">
						<%= request.get("requester_details").fname %> <%= request.get("requester_details").lname %><br>
					</a></strong>
					<strong>Traveling to: </strong><%= request.escape('location') %><br>
				</h3>
				<small><strong>Dates: </strong><%= request.get("arrival_date") %> to <%= request.get("departure_date") %></small>
				<strong>Status: </strong><%= request.escape('status') %><br>
				<strong>Travelers: </strong><%= request.escape('num_guests') %><br>
			</section>
	</section>





	<% if (request.escape("status") === "pending") { %>
				<form class="content-form">
					<button value="accepted" class="submit" id="accept-request">Accept</button>
					<button value="rejected" class="delete" id="reject-request">Reject</button>

				</form>

			<% } %>





		<section class="request-description">

				<ul class="requests-updates-list">
			<% if (request.escape("status") === "cancelled") { %>
				<li class="group">
					<figure><img src="<%= request.get("requester_details").avatar_url %>"></figure>
			<p>
				<strong><%= request.get("requester_details").fname %> cancelled: </strong><%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
				<small class="timeago" title="<%= request.escape('updated_at') %>"></small>
			</p>
		</li>
			<% } else if (request.escape("status") === "rejected") { %>
				<li class="group">
					<figure><img src="<%= request.get("requestee_details").avatar_url %>"></figure>
			<p>
				<strong>You rejected: </strong><%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
				<small class="timeago" title="<%= request.escape('updated_at') %>"></small>
			</p>
			</li>
			<% } else if (request.escape("status") === "accepted") { %>

				<li class="group">
					<figure><img src="<%= request.get("requestee_details").avatar_url %>"></figure>
			<p>
				<strong>You accepted: </strong><%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
				<small class="timeago" title="<%= request.escape('updated_at') %>"></small>
			</p>
			</li>

			<% } %>
			<li class="group">
				<figure><img src="<%= request.get("requester_details").avatar_url %>"></figure>
			<p>
				<strong><%= request.get("requester_details").fname %> requested:</strong> <%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
				<%= request.escape("message") %>
				<small class="timeago" title="<%= request.escape('created_at') %>"></small>
			</p>
		</li>
	</ul>
		</section>
	<% } %>

<% } %>

<br>

<style>
	.request-details{
		width:750px;
		margin:0 auto;
		background:#fff;
		padding:20px;
		margin-bottom:60px;

	}




	.request-description{
		border-top:1px solid #eee;
		margin-top:20px;

	}

	.requests-updates-list li{
		width:100%;
		display:block;
		margin-top:40px;

	}

	.requests-updates-list li figure{
		width:75px;
		height:75px;
		float:left;

	}

	.requests-updates-list li p{
		margin-top:10px;
		margin-left:10px;
		float:left;

	}

	.requests-updates-list li figure img{
		border-radius: 37px;
	}

	.request-details .content-form{
		margin-top:20px;
		margin-left:80px;
	}

</style>
