<a href="#requests">Back to Index</a>
<% if (request.escape("requester_type") === "guest") { %>
	<% if (parseInt(request.escape('requester_id')) === SofaHopping.currentUser.id) { %>

		<header>
			<a href="<%= "#people/"+ request.get("requestee_details").id %>">
				<%= request.get("requestee_details").fname %> <%= request.get("requestee_details").lname %><br>
			</a>
			From: <%= request.escape('location') %><br>

			<% if (request.escape("status") === "pending") { %>
				<button id="cancel-request">Cancel Request</button>
			<% } %>
		</header>


		<section class="request-description">
			Status: <%= request.escape('status') %><br>
			Dates: <%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
			Travelers: <%= request.escape('num_guests') %><br>

		<% if (request.escape("status") === "cancelled") { %>
		<p>
			<strong>You cancelled: </strong><%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
		</p>
		<% } else if (request.escape("status") === "rejected") { %>
		<p>
			<strong><%= request.get("requestee_details").fname %> rejected: </strong><%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
		</p>
		<% } %>

		<p>
			<strong>You requested:</strong> <%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
			<%= request.escape("message") %>
		</p>

		</section>

	<% } else { %>

		<header>
			<a href="">
				<%= request.get("requester_details").fname %> <%= request.get("requester_details").lname %><br>
			</a>
			Traveling to: <%= request.escape('location') %><br>

			<% if (request.escape("status") === "pending") { %>
				<button id="reject-request">Reject Request</button>
			<% } %>
		</header>

		<section class="request-description">
			Status: <%= request.escape('status') %><br>
			Dates: <%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
		  Travelers: <%= request.escape('num_guests') %><br>

			<% if (request.escape("status") === "cancelled") { %>
			<p>
				<strong><%= request.get("requester_details").fname %> cancelled: </strong><%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
			</p>
			<% } else if (request.escape("status") === "rejected") { %>
			<p>
				<strong>You rejected: </strong><%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
			</p>
			<% } %>

			<p>
				<strong><%= request.get("requester_details").fname %> requested:</strong> <%= request.escape('arrival_date') %> to <%= request.escape('departure_date') %><br>
				<%= request.escape("message") %>
			</p>
		</section>
	<% } %>

<% } %>

<br>

<style>
	.request-details{
		width:600px;
		margin:0 auto;
		background:#fff;
		margin-bottom:60px;
	}


	.request-description{
		padding:20px 20px 0px 20px;
	}

	.request-description p{
		margin-top:20px;
	}

	.request-details .dates-travelers{

	}

	.request-details header{
		border-bottom:1px solid #ccc;
		padding:20px;
	}
</style>
