 <header>
  <nav>
    <ul>
      <li><a href="#">Join</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>
</header>

<% if !current_user %>
<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="user[username]" placeholder="Email or Username">
  <input type="password" name="user[password]" placeholder="Password">
  <button>Log In</button>
</form>

<br><br><br>
<form action="<%= users_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="user[fname]" placeholder="First name">
  <input type="text" name="user[lname]" placeholder="lname">
  <input type="text" name="user[username]" placeholder="Email">
  <input type="password" name="user[password]" placeholder="Password">
  <select name="user[gender]">
    <option>Select Gender</option>
    <option>Male</option>
    <option>Female</option>
    <option>Other</option>
  </select>
  <input type="date" name="user[birthday]" placeholder="Birthday">
  <input type="text" name="user[location]" placeholder="Location - Use your address for best results">
  <button>Create Account</button>
</form>
<% else %>


  Welcome <%= current_user.username %>
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <button>Sign Out</button>
  </form>

  <script>
  $(document).ready(function(){
    SofaHopping.initialize(<%= current_user.id %>);
  });
  </script>
<% end %>
