<!DOCTYPE html>
<html>
<head>
  <title>SofaHopping</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<style>
  #main{
    background-color:#efede2;
    padding:20px 0px;
  }
  </style>
<body>

<header class="main-header group">

<h1>Sofahopping</h1>
  <% if !current_user %>
  <nav>
   <ul>
     <li><a href="#">Join</a></li>
     <li><a href="#">Login</a></li>
   </ul>
   </nav>
  <% else %>




  <form id="search">
    <select id="hosting_status" name="user[hosting_status]">
      <option value="1">Find Hosts</option>
      <option value="2">Find Members</option>
      <!-- <option value="3">Find Travelers</option> -->
    </select>
      <button>Search</button>
  </form>

   <ul>
     <li><a href="#">Dashboard</a></li>
     <li><a href=" <%= "#people/" + current_user.id.to_s %>"> My Profile</a></li>
   </ul>
   </nav>

  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <button>Log Out</button>
  </form>
  <% end %>

  </header>


<%= yield %>


</body>
</html>
